<%- include('./header.ejs', {title: 'Page-Not-Found'}) %>
<div class="d-flex justify-content-center body-height">
    <img src="/images/notFound.jpg" alt="page not found">
</div>
<%- include('./footer.ejs') %>